.jobListing {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  /* padding-inline: 120px; */
  justify-content: start;
}

@media (max-width: 1600px) {
  .jobListing {
    width: 100%;
  }
}
/* .jobCard {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jobCardContent {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
} */