.filters {
  row-gap: 16px;
  column-gap: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin: 6px 0px;

  border: 0px solid #e0e0e0;
}

.filter {
  display: flex;
  flex-direction: column;
}

.filter-chip {
  margin-top: 4px;
}

.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 4px;
  background: #e3e2e2;
}

.chip>p {
  font-size: 12px;
}

.rotate90 {
  transform: rotate(90deg);
}