.filters {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 8px;
  border: 1px solid #e0e0e0;

}

.filter {
  display: flex;
  flex-direction: column;
}

.filter-chip {
  margin-top: 4px;
}

.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 4px;
  background: #e3e2e2;
}

.chip>p {
  font-size: 12px;
}

.rotate90 {
  transform: rotate(90deg);
}