.job-card {
  padding: 0px;
  border-radius: 20px;
  height: fit-content;
  border: 1px solid #e0e0e0;
}

.job-card-content {
  padding: 16px 0px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.job-card-content-content {
  width: 100%;
  align-items: center;

  border: 0px solid black;
}

.fade-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
}



.job-card-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.job-card-content-footer {
  width: 100%;
  display: flex;
  justify-content: center;

  border: 0px solid black;
}


.job-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.company-info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.verified-icon {
  color: green;
  margin-left: 4px;
}

.job-description {
  margin-top: 8px;
  margin-bottom: 16px;
}

.view-job-button {
  color: blue;
  text-transform: none;
  font-size: 0.875rem;
  margin-left: 4px;
}

.apply-button {
  margin-top: 16px;
  background-color: #6ee7b7;
  color: black;
  font-weight: bold;
}

.apply-button .MuiButton-startIcon {
  color: orange;
}

.job-card-chip {
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 56px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}