.flex {
  display: flex;
}

.gap-1 {
  gap: 0.25rem;
}

.column {
  flex-direction: column;
}

.logo {
  width: 120px;
  height: auto;

  margin-bottom: 4px;
  /* position: absolute;
  top: 24;
  left: 24; */
}

