@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
  font-family: "Lexend", sans-serif;
}

body {
  margin: 0;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  display: "inline-flex";
  align-items: "center";
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
}
